
    h1 {
        color: blue;
    }

    img {
        width: 400px;

    }

    
#thirdDiv{

    height: 600px;
    width: 500px;
   
}

#thirdDiv{
    background-color: blue;
}


#spanId {
    font-size: 32px;
}



#thirdDiv{
    padding: 50px;
    border: 5px solid currentColor;

}



